@model TCC.ApplicationCore.Entity.EmailConfig

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmailConfig</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CredentialUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CredentialUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CredentialPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CredentialPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmtpClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmtpClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PortSSL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PortSSL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmailConfigId">Edit</a>
</div>
